@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome to AKS GAB demo</h1>
<p>
    Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a> in order to follow along.
    The following scenario is covering:
</p>
<ul>
    <li>Listing/creating/deleting namespaces / pod / etc. - workloads from Kubernetes</li>
    <li>Implementing scenarios, where you can have a web application and can programmaticaly enable / disable / create scenarios based on your own criteria</li>
</ul>