@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>For more details about privacy, visit <a href="https://microsoft.com/en-us/privacy">privacy statements here</a>.</p>