@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Check active privacy policies on <a href="https://microsoft.com/privacy">Microsoft web page</a>.</p>